<a href="https://colab.research.google.com/github/ShahzadaFahimJan/NAVTTC-advance-python/blob/main/Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")
str(5)

hi

'5'

In [ ]:
str(5.5)

'5.5'

In [ ]:
int("5")

5

In [ ]:
float("5.5")

5.5

In [ ]:
str(True)

'True'

In [ ]:
bool("True")

True

In [ ]:
len("hello")

5

In [ ]:
len([1,2,3,4,5])

5

In [ ]:
len(["hello","world"])

2

In [ ]:
sorted([34,23,56,3,2,3,1,5])

[1, 2, 3, 3, 5, 23, 34, 56]

In [ ]:
sorted(["R","S","A"])

['A', 'R', 'S']

In [ ]:
sorted(["R","S","A","b"])

['A', 'R', 'S', 'b']

In [ ]:
sorted(["R","S","A",5])#can't do this

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
sorted(["R","S","A","5","6.6","a","b"])

['5', '6.6', 'A', 'R', 'S', 'a', 'b']

# Defining Functions in Python

In [ ]:
def my_function():
  print("inside the function")
  print("another string inside the function")
my_function()

inside the function
another string inside the function

# Adding Argument to a function

In [ ]:
def my_function(str1,str2):
  print(str1)
  print(str2)
my_function("string1","String2")

string1
String2

# Default Paramters

In [ ]:
def my_function(name,age):
  print("My name is " + name + "and my age is " +age)
my_function("Name","19")

My name is Nameand my age is 19

In [ ]:
def my_function(name,age):
  print("My name is " , name , "and my age is " ,age)
my_function("Name",19)

My name is  Name and my age is  19

In [ ]:
def my_function(name="name1",age=20):
  print("My name is " , name , "and my age is " ,age)
my_function("Name")

My name is  Name and my age is  20

# Keyword Argument

In [ ]:
def my_function(name="name1",age=20):
  print("My name is " , name , "and my age is " ,age)
my_function(22)

My name is  22 and my age is  20

In [ ]:
def my_function(name="name1",age=20):
  print("My name is " , name , "and my age is " ,age)
my_function(None,21)

My name is  None and my age is  21

In [ ]:
def my_function(name="name1",age=20):
  print("My name is " , name , "and my age is " ,age)
my_function(age=22,name="name2")

My name is  name2 and my age is  22

# Infinte Arguments

In [ ]:
def print_people(*people):
  for person in people:
    print("this person is ",person)

print_people("name1","name2","name3","name4")

this person is  name1
this person is  name2
this person is  name3
this person is  name4

# Return values

In [ ]:
def do_math(num1,num2):
  return num1 + num2
math1=do_math(2,2)
print("the first sum is",math1)
math2=do_math(3,5)
print("the second sum is",math2)

the first sum is 4
the second sum is 8

# If else Statements

In [ ]:
check =False
if check==False:
  print("it is false")

it is false

In [ ]:
check =True
if check==False:
  print("it is False")
else:
  print("it is True")

it is True

In [ ]:
check ="yes"
if check==False:
  print("it is False")
elif check=="yes":
  print("it is yes")
else:
  print("it is True")

it is yes

# For and While Loop

In [ ]:
numbers=[1,2,3,4,5,6]
for item in numbers:
  print(item)
name=["name1","name2","name3"]
for item in name:
  print("The name is ",item)

1
2
3
4
5
6
The name is  name1
The name is  name2
The name is  name3

In [ ]:
run = True
current = 1
while run:
  if(current==10):
    run == False
  else:
    print(current)
    current +=1

1
2
3
4
5
6
7
8
9

#  Importing Modules in Python

In [ ]:
import re

In [ ]:

string = "'Ahmad said',Im going to Lahore"
new = re.sub('[A-Z]','',string)
print(new)

In [ ]:
string = "'Ahmad said',Im going to Lahore"
new = re.sub('[a-z]','',string)
print(new)

In [ ]:
string = "'Ahmad said',Im going to Lahore"
new = re.sub('[.,\']','',string)
print(new)

In [ ]:
string = "'Ahmad said',Im going to Lahore"
new = re.sub('[.,\'a-z]','',string)
print(new)

In [ ]:
string = "'Ahmad said',Im going to Lahore"
new = re.sub('[.,\'a-zA-Z]','',string)
print(new)

In [ ]:
string = "'Ahmad said',Im going to Lahore"
new = re.sub('[.,\'A-Z]','',string)
print(new)